@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900");
/*==========================================================
  BODY 
=========================================================*/
body {
  margin: 0;
  font-family: BlinkMacSystemFont, Helvetica Neue,sans-serif; }

html, body {
  overflow-x: hidden; }

/*============================================================
  LOGIN PAGE
=============================================================*/
.loader-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loader-wrap .loader {
    border: 2px solid #f3f3f3;
    /* Light grey */
    border-top: 2px solid  #0178D7;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.login-page {
  display: flex;
  align-items: center;
  height: 100vh; }
  .login-page .login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 450px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 7px; }
    .login-page .login-box .logo-wrap {
      display: flex;
      align-items: center; }
      .login-page .login-box .logo-wrap h1 {
        font-size: 40px;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 5px;
        font-weight: 200; }
      .login-page .login-box .logo-wrap .logo-icon {
        width: 60px;
        height: 60px; }
    .login-page .login-box .subtitle {
      display: inline-block;
      font-size: 30px;
      margin-top: 10px;
      font-weight: 200;
      letter-spacing: 0.8px; }
      .login-page .login-box .subtitle .life {
        font-weight: 400; }
      .login-page .login-box .subtitle .organized {
        font-style: italic; }
    .login-page .login-box form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .login-page .login-box form .login-failure-message {
        margin-bottom: 5px;
        align-self: flex-start;
        margin-left: 10%;
        color: #dc3535;
        font-size: 12px; }
      .login-page .login-box form input {
        width: 80%;
        height: 45px;
        margin-bottom: 15px;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 5px;
        background-color: white;
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-sizing: border-box; }
      .login-page .login-box form input:focus {
        border: 2px solid #0178D7;
        background-color: white; }
      .login-page .login-box form .btn-login {
        height: 35px;
        width: 20%;
        cursor: pointer;
        outline: none;
        font-size: 14px;
        align-self: flex-end;
        margin-right: 10%;
        background-color: #0178D7;
        color: white;
        border-radius: 5px;
        border: 1px solid transparent; }
      .login-page .login-box form .btn-login:focus {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      .login-page .login-box form .btn-login:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .login-page .login-box .sign-up-message {
      margin-top: 40px;
      font-weight: 200;
      width: 100%;
      text-align: center; }
      .login-page .login-box .sign-up-message button {
        background-color: transparent;
        color: #0178D7;
        outline: none;
        cursor: pointer;
        border: 1px solid transparent;
        font-size: 16px; }
      .login-page .login-box .sign-up-message button:focus {
        background-color: #E9F0FE;
        border-radius: 5px; }
      .login-page .login-box .sign-up-message button:hover {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

/*=================================================================
 SIGN UP PAGE
==============================================================*/
/*=================================================================
 HEADER
==============================================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #0178D7; }
  header .logo-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    color: black; }
    header .logo-header h1 {
      margin-left: 5px;
      font-size: 16px;
      color: #ffffff;
      font-weight: 300; }
    header .logo-header .logo-icon {
      width: 28px;
      height: 28px; }
  header .right-side {
    display: flex;
    align-items: center;
    margin-right: 20px; }
    header .right-side .dropdown-wrap .chevron-icon {
      width: 18px;
      height: 18px;
      cursor: pointer; }
    header .right-side .dropdown-wrap .dropdown {
      width: 120px;
      height: auto;
      right: 10px;
      background-color: white;
      color: black;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.5px;
      text-align: center; }
      header .right-side .dropdown-wrap .dropdown .triangle {
        display: flex;
        width: 120px;
        height: 15px; }
        header .right-side .dropdown-wrap .dropdown .triangle div {
          width: 33.3%;
          border-bottom: 1px solid lightgray;
          background-color: #0178D7; }
          header .right-side .dropdown-wrap .dropdown .triangle div .triangle-up {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid lightgray; }
          header .right-side .dropdown-wrap .dropdown .triangle div .triangle-up:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 13px solid white;
            position: absolute;
            right: 13px;
            top: 2px; }
      header .right-side .dropdown-wrap .dropdown .text {
        display: flex;
        align-items: center;
        padding: 15px 0 15px 15px;
        cursor: pointer;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        box-sizing: border-box;
        text-decoration: none;
        color: black; }
      header .right-side .dropdown-wrap .dropdown .text:hover {
        background-color: rgba(73, 93, 251, 0.2);
        width: 100%; }
      header .right-side .dropdown-wrap .dropdown .last {
        border-bottom: 1px solid lightgray; }
      header .right-side .dropdown-wrap .dropdown .icon {
        width: 15px;
        height: 15px;
        margin-right: 5px; }
      header .right-side .dropdown-wrap .dropdown .settings {
        margin-left: -1px; }

/*=================================================================
 DASHBOARD
==============================================================*/
.dashboard-wrap {
  margin-top: 50px;
  display: flex;
  height: calc(100vh - 50px); }
  .dashboard-wrap .tabs-list {
    width: 25%;
    height: calc(100vh - 50px);
    border-right: 1px solid #EAEAEA;
    overflow-y: hidden;
    background-color: #F5F5F5; }
    .dashboard-wrap .tabs-list .tab {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 20px 10px 20px;
      cursor: pointer; }
      .dashboard-wrap .tabs-list .tab .tab-icon {
        height: 18px;
        width: 18px; }
      .dashboard-wrap .tabs-list .tab div {
        margin-left: 15px;
        letter-spacing: 0.7px;
        font-size: 14px;
        color: #34383C;
        font-weight: 300; }
      .dashboard-wrap .tabs-list .tab .count {
        justify-self: flex-end;
        margin: 0 auto;
        margin-right: 0px;
        font-weight: 300; }
    .dashboard-wrap .tabs-list .tab:hover {
      background-color: #FAFAFA; }
    .dashboard-wrap .tabs-list .custom-lists {
      margin-top: 20px; }
    .dashboard-wrap .tabs-list .add-new-list {
      padding: 10px 20px 10px 20px; }
      .dashboard-wrap .tabs-list .add-new-list form {
        display: flex;
        align-items: center; }
        .dashboard-wrap .tabs-list .add-new-list form .plus-sign-icon {
          max-width: 16px;
          height: 16px; }
        .dashboard-wrap .tabs-list .add-new-list form .focus path {
          fill: #767678; }
        .dashboard-wrap .tabs-list .add-new-list form input {
          border: 1px solid transparent;
          font-size: 14px;
          margin-left: 15px;
          width: 100%;
          background-color: #F5F5F5; }
        .dashboard-wrap .tabs-list .add-new-list form ::placeholder {
          color: #3F6AE3; }
        .dashboard-wrap .tabs-list .add-new-list form input:focus {
          outline: none; }
        .dashboard-wrap .tabs-list .add-new-list form input:focus::-webkit-input-placeholder {
          color: #767678; }
  .dashboard-wrap .display {
    width: 100%;
    display: flex; }
    .dashboard-wrap .display .middle-section-wrap {
      width: 100%;
      margin: 0 10px 0 10px; }
      .dashboard-wrap .display .middle-section-wrap .text-wrap {
        margin: 20px;
        width: fit-content; }
        .dashboard-wrap .display .middle-section-wrap .text-wrap .title-wrap {
          display: flex;
          align-items: center;
          position: relative; }
          .dashboard-wrap .display .middle-section-wrap .text-wrap .title-wrap .title {
            font-size: 20px;
            letter-spacing: 1px; }
        .dashboard-wrap .display .middle-section-wrap .text-wrap .more-icon {
          padding: 5px;
          border-radius: 2px;
          width: 16px;
          height: 16px;
          margin-left: 15px;
          cursor: pointer; }
        .dashboard-wrap .display .middle-section-wrap .text-wrap .more-icon:hover {
          background-color: #EDEDED; }
        .dashboard-wrap .display .middle-section-wrap .text-wrap .date {
          font-size: 12px;
          color: #767678;
          margin-top: 10px; }
        .dashboard-wrap .display .middle-section-wrap .text-wrap .more-dropdown {
          position: absolute;
          background: white;
          width: 200px;
          box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px;
          border-radius: 2px;
          z-index: 5; }
          .dashboard-wrap .display .middle-section-wrap .text-wrap .more-dropdown .options {
            padding: 20px;
            border-bottom: 1px solid #EAEAEA;
            color: #34383C;
            text-align: center; }
          .dashboard-wrap .display .middle-section-wrap .text-wrap .more-dropdown .option-wrap {
            display: flex;
            align-items: center;
            padding: 15px;
            cursor: pointer; }
          .dashboard-wrap .display .middle-section-wrap .text-wrap .more-dropdown .option-wrap:hover {
            background-color: #EDEDED; }
          .dashboard-wrap .display .middle-section-wrap .text-wrap .more-dropdown .icon {
            width: 16px;
            height: 16px;
            margin-right: 15px; }
          .dashboard-wrap .display .middle-section-wrap .text-wrap .more-dropdown ul {
            color: #34383C;
            font-weight: 300;
            font-size: 14px; }
      .dashboard-wrap .display .middle-section-wrap .todo-list {
        overflow-y: scroll;
        height: calc(100% - 132px); }
        .dashboard-wrap .display .middle-section-wrap .todo-list .todo {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 1px;
          height: 40px;
          padding: 10px 20px 10px 20px;
          position: relative; }
          .dashboard-wrap .display .middle-section-wrap .todo-list .todo .border {
            border-bottom: 1px solid #EAEAEA;
            position: absolute;
            left: 15px;
            right: 10px;
            bottom: 0px; }
          .dashboard-wrap .display .middle-section-wrap .todo-list .todo .circle {
            width: 18px;
            height: 18px;
            border: 1px solid #3F6AE3;
            border-radius: 50%;
            cursor: pointer;
            box-sizing: border-box; }
          .dashboard-wrap .display .middle-section-wrap .todo-list .todo .text {
            margin-left: 15px;
            cursor: pointer; }
            .dashboard-wrap .display .middle-section-wrap .todo-list .todo .text .category {
              font-size: 12px;
              margin-top: 5px;
              color: #767678; }
          .dashboard-wrap .display .middle-section-wrap .todo-list .todo .checkmark-icon {
            width: 18px;
            height: 18px;
            cursor: pointer; }
          .dashboard-wrap .display .middle-section-wrap .todo-list .todo .star-icon {
            width: 16px;
            height: 16px;
            cursor: pointer;
            margin: 0 auto;
            margin-right: 0px; }
        .dashboard-wrap .display .middle-section-wrap .todo-list .todo:hover {
          background-color: #F7F7F7; }
        .dashboard-wrap .display .middle-section-wrap .todo-list .completed-list .completed-title-wrap {
          display: flex;
          align-items: center;
          padding: 20px;
          position: relative; }
        .dashboard-wrap .display .middle-section-wrap .todo-list .completed-list .border {
          border-bottom: 1px solid #EAEAEA;
          position: absolute;
          left: 15px;
          right: 10px;
          bottom: 0px; }
        .dashboard-wrap .display .middle-section-wrap .todo-list .completed-list .completed-list-icon {
          width: 14px;
          height: 14px;
          margin-right: 10px;
          cursor: pointer; }
      .dashboard-wrap .display .middle-section-wrap .add-to-do {
        padding: 10px 20px 10px 20px;
        position: relative; }
        .dashboard-wrap .display .middle-section-wrap .add-to-do .border {
          position: absolute;
          left: 15px;
          right: 10px;
          bottom: 0px; }
        .dashboard-wrap .display .middle-section-wrap .add-to-do form {
          display: flex;
          align-items: center; }
          .dashboard-wrap .display .middle-section-wrap .add-to-do form .circle {
            min-width: 18px;
            height: 18px;
            border: 1px solid #767678;
            border-radius: 50%;
            cursor: pointer;
            box-sizing: border-box; }
          .dashboard-wrap .display .middle-section-wrap .add-to-do form input {
            border: 1px solid transparent;
            font-size: 14px;
            margin-left: 10px;
            width: 100%; }
          .dashboard-wrap .display .middle-section-wrap .add-to-do form ::placeholder {
            color: #3F6AE3; }
          .dashboard-wrap .display .middle-section-wrap .add-to-do form input:focus {
            outline: none; }
          .dashboard-wrap .display .middle-section-wrap .add-to-do form input:focus::-webkit-input-placeholder {
            color: #767678; }
          .dashboard-wrap .display .middle-section-wrap .add-to-do form img {
            width: 16px; }
    .dashboard-wrap .display .edit-window-close {
      height: calc(100vh - 50px);
      background-color: white;
      display: none; }
    .dashboard-wrap .display .edit-window-open {
      width: 50%;
      height: calc(100vh - 50px);
      background-color: white; }
    .dashboard-wrap .display .edit-todo-window {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 50px);
      background-color: #F5F5F5;
      border-left: 1px solid #EAEAEA; }
      .dashboard-wrap .display .edit-todo-window .add-todo-top-section {
        margin: 20px; }
        .dashboard-wrap .display .edit-todo-window .add-todo-top-section h2 {
          font-size: 18px;
          font-weight: 200;
          color: #495DFB;
          margin-bottom: 20px; }
        .dashboard-wrap .display .edit-todo-window .add-todo-top-section input {
          height: 54px;
          font-size: 16px;
          outline: none;
          border: 1px solid lightgray;
          border-radius: 2px;
          margin-bottom: 10px;
          width: 100%;
          box-sizing: border-box;
          padding-left: 10px; }
        .dashboard-wrap .display .edit-todo-window .add-todo-top-section input:focus {
          border: 2px solid #495DFB; }
        .dashboard-wrap .display .edit-todo-window .add-todo-top-section .add-button {
          width: 100%;
          margin-top: 20px;
          height: 30px;
          border-radius: 2px;
          outline: none;
          cursor: pointer;
          background-color: rgba(73, 93, 251, 0.6);
          font-size: 14px;
          color: white;
          border: 1px solid transparent; }
        .dashboard-wrap .display .edit-todo-window .add-todo-top-section .add-button:focus {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
        .dashboard-wrap .display .edit-todo-window .add-todo-top-section .add-button:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
        .dashboard-wrap .display .edit-todo-window .add-todo-top-section .myControlClassName {
          cursor: pointer; }
      .dashboard-wrap .display .edit-todo-window .edit-todo-section {
        margin: 10px; }
        .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form {
          background-color: white;
          padding: 10px;
          border: 1px solid #EAEAEA; }
          .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap {
            display: flex;
            margin-bottom: 10px; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap .checkmark-icon {
              width: 18px;
              cursor: pointer;
              margin-top: 7px;
              height: 18px; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap .star-solid-icon {
              width: 16px;
              height: 16px;
              cursor: pointer;
              margin: 0 auto;
              margin-right: 0px;
              margin-top: 5px; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap .star-icon {
              width: 16px;
              height: 16px;
              cursor: pointer;
              margin: 0 auto;
              margin-right: 0px;
              margin-top: 5px; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap textarea {
              font-family: BlinkMacSystemFont, Helvetica Neue,sans-serif;
              resize: none;
              height: auto;
              font-size: 16px;
              font-weight: 550;
              outline: none;
              border: 1px solid transparent;
              border-radius: 2px;
              margin: 0 5px 0px 5px;
              padding-left: 10px;
              word-wrap: break-word; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap textarea:focus {
              border: 1px solid lightgray;
              border-radius: 2px;
              background-color: ""; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap textarea:hover {
              background-color: #F5F5F5; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap .circle {
              width: 18px;
              height: 18px;
              border: 1px solid #3F6AE3;
              border-radius: 50%;
              cursor: pointer;
              margin-top: 7px;
              flex: 0 0 auto;
              box-sizing: border-box; }
            .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .input-icon-wrap .star path {
              stroke: gray;
              stroke-width: 50; }
          .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .save-button {
            width: 100%;
            margin-top: 20px;
            height: 30px;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            background-color: rgba(73, 93, 251, 0.6);
            font-size: 14px;
            color: white;
            border: 1px solid transparent; }
          .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .save-button:focus {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
          .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .save-button:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
          .dashboard-wrap .display .edit-todo-window .edit-todo-section .edit-todo-form .myControlClassName {
            cursor: pointer; }
      .dashboard-wrap .display .edit-todo-window .bottom-section-wrap {
        display: flex;
        justify-content: space-between; }
        .dashboard-wrap .display .edit-todo-window .bottom-section-wrap .right-chevron-icon {
          width: 16px;
          height: 16px;
          cursor: pointer;
          margin: 20px; }
        .dashboard-wrap .display .edit-todo-window .bottom-section-wrap .trash-icon {
          width: 16px;
          height: 16px;
          cursor: pointer;
          margin: 20px; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }
