@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900');

/*==========================================================
  BODY 
=========================================================*/

body{
  margin: 0;
  font-family: BlinkMacSystemFont, Helvetica Neue,sans-serif;
}

html,body {
  overflow-x: hidden; 
}

/*============================================================
  LOGIN PAGE
=============================================================*/
.login-page {
  display: flex;
  align-items: center;
  height: 100vh;

  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 450px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 7px;

    .logo-wrap {
      display: flex;
      align-items: center;

      h1 {
        font-size: 50px;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: -10px;
        font-weight: 200;
      }
    }

    .subtitle {
      display: inline-block;
      font-size: 30px;
      margin-top: 10px;
      font-weight: 200;
      letter-spacing: 0.8px;

      .life {
        font-weight: 400;
      }
      .organized {
        font-style: italic;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .login-failure-message {
        margin-bottom: 5px;
        align-self: flex-start;
        margin-left: 10%;
        color: #dc3535;
        font-size: 12px;
      }

      input {
        width: 80%;
        height: 45px;
        margin-bottom: 15px;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 5px;
        background-color: white;
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-sizing: border-box;
      }
      input:focus {
        border: 2px solid #0EA4E0;
        background-color: white;
      }
      .btn-login {
        height: 35px;
        width: 20%;
        cursor: pointer;
        border-radius: 2px;
        outline: none;
        font-size: 14px;
        align-self: flex-end;
        margin-right: 10%;
        background-color: #0EA4E0;
        color: white;
        border-radius: 5px;
      }
      .btn-login:focus {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
      }
      .btn-login:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
      }
    }

    .sign-up-message {
      margin-top: 40px;
      font-weight: 200;
      width: 100%;
      text-align: center;

      button {
        background-color: transparent;
        color: #0EA4E0;
        outline: none;
        cursor: pointer;
        border: 1px solid transparent;
        font-size: 16px;
      }
      button:focus {
        background-color: #E9F0FE;
        border-radius: 5px;
      }
      button:hover {
        text-shadow: 0 0 10px rgba(0,0,0,.2);
      }
    }
  }
}

/*=================================================================
 SIGN UP PAGE
==============================================================*/




/*=================================================================
 HEADER
==============================================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0 0 6px rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  .logo-header {
    display: flex;
    margin-left: 20px;

    h1 {
      align-self: flex-end;
      margin-bottom: 5px;
      margin-left: -5px;
      font-weight: 200;
    }
  }

  .user-greeting {
    display: flex;
    align-items: center;
    margin-right: 20px;

    h2 {
      font-weight: 200;
      margin-right: 10px;
      letter-spacing: 1px;
    }

    .dropdown-wrap {

      .dropdown {
        right: 10px;
        background-color: white;
        color: black;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        padding: 10px;

        div {
          padding: 5px 0 5px 0;
          cursor: pointer;
        }
      }
    }
  }
}

/*=================================================================
 DASHBOARD
==============================================================*/
.dashboard-wrap {
  margin-top: 70px;
  display: flex;
  height: calc(100vh - 70px);

  .tabs-list {
    width: 25%;
    height: calc(100vh - 70px);
    border-right: 1px solid #d6d4d4;
    overflow-y: hidden;
   

    .tab {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20% 0 0px 10%;
      cursor: pointer;
      
      div {
        margin-left: 15px;
        letter-spacing: 1px;
      
      }

      .count {
        justify-self: flex-end;
        margin: 0 auto;
        margin-right: 20px;
        font-weight: 300;
      }
    }
  }

  .display {
    width: 75%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .banner {
      height: 200px;
      position: relative;

      .text {
        position: absolute;
        top: 70%;
        left: 15%;
        transform: translate(-50%, -50%);
        color: white;

        .title {
          font-size: 42px;
        }

        .date {
          font-size: 24px;
          margin-top: 5px;
          font-weight: 200;
        }
      }

    }

    .todo-list {

      .todo {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        height: 40px;
        border-bottom: 1px solid #d6d4d4;
        padding: 20px;
  
        .circle {
          width: 25px;
          height: 25px;
          border: 1px solid gray;
          border-radius: 50%;
          cursor: pointer;
          box-sizing: border-box;
        }
  
        .text {
          margin-left: 15px;
  
          .category {
            font-size: 14px;
            margin-top: 5px;
          }
        }
        .star path {
          stroke: gray;
          stroke-width: 50
        }
        .none path{

        }
      }
    }

    
    .add-to-do {
      display: flex;
      align-items: center;
      margin: 30px 0 30px 20px;

      .text {
        margin-left: 5px;
        color: #495DFB;
        cursor: pointer;
      }
    }

    .slide-out-window-close {
      position: absolute;
      width: 30%;
      height: calc(100vh - 70px);
      background-color: white;
      border-left: 1px solid #d6d4d4;
      align-self: flex-end;
      right: -30%;
      transition: right 1s;

    }
    .slide-out-window-open {
      position: absolute;
      width: 30%;
      height: calc(100vh - 70px);
      background-color: white;
      border-left: 1px solid #d6d4d4;
      align-self: flex-end;
      right: 0px;
      transition: right 1s;
    }

    .add-to-do-window {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 70px);

      .top-section {
        margin: 20px;
        h2 {
          font-size: 18px;
          font-weight: 200;
          color: #495DFB;
          margin-bottom: 20px;
        }
  
        textarea {
          height: 64px;
          font-size: 16px;
          outline: none;
          border: 1px solid lightgray;
          border-radius: 2px;
          margin-bottom: 10px;
          width: 100%;
          box-sizing: border-box;
          padding-left: 10px;
          padding-top: 10px;
        }
        textarea:focus {
          border: 2px solid #495DFB;
        }

        .add-button {
          width: 100%;
          margin-top: 20px;
          height: 30px;
          border-radius: 2px;
          outline: none;
          cursor: pointer;
          background-color: rgba(73, 93, 251, 0.6);
          font-size: 14px;
          color: white;
        }
        .add-button:focus {
          box-shadow: 0 0 10px rgba(0,0,0,.2);
        }
        .add-button:hover {
          box-shadow: 0 0 10px rgba(0,0,0,.2);
        }

        .myControlClassName:focus {
        }
      }


    }


  }

}

//#0EA4E0
//green #69B100

