@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900');

/*==========================================================
  BODY 
=========================================================*/

body{
  margin: 0;
  font-family: BlinkMacSystemFont, Helvetica Neue,sans-serif;
}

html,body {
  overflow-x: hidden; 
}

/*============================================================
  LOGIN PAGE
=============================================================*/

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 300px;
  margin: 0 auto;

  .logo-wrap {
    display: flex;
    align-items: center;

    h1 {
      font-size: 60px;
      align-self: flex-end;
      margin-bottom: 5px;
      margin-left: -25px;
      font-weight: 200;
    }
  }

  .subtitle {
    display: inline-block;
    font-size: 30px;
    margin-top: 40px;
    font-weight: 200;
    letter-spacing: 0.8px;
    // margin-left: 20px;

    .life {
      font-weight: 400;
    }
    .organized {
      font-style: italic;
    }
  }

  .input-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    input {
      width: 160px;
      height: 25px;
      margin-bottom: 5px;
      outline: none;
      border: 1px solid lightgray;
    }
  }

  .sign-up-message {
    margin-top: 40px;
    font-weight: 200;

    button {
      width: 60px;
      height: 25px;
      margin-left: 15px;
      background-color: #0EA4E0;
      // background-color: #09658a;
      color: white;
      outline: none;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 2px;
    }
  }

}
